@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts//MullerLight.woff') format('woff');
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts//MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts//MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
font-family: 'Muller', sans-serif;
}

td {
  vertical-align: top;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section-heading {
  padding-left: 40px;
  font-size: 40px;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.body {
  background-color: rgba(241, 241, 241, 255);
}

.btn {
  padding: 13px 20px;
  border: 1px solid var(--main-yellow);
  border-radius: 10px;
  color: var(--main-yellow);
  background-color: var(--main-white);
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.btn:hover {
  background-color: var(--main-yellow);
  color: var(--main-white);
  transform: translateY(1px);
}

.text {
  line-height: 2em;
  color: #000000;
}

.splitter {
  width: 1px;
  height: 50px;
  margin-right: auto;
  background: #E1E1E1;
}

:root {
  --main-yellow: #cc9933;
  --main-white: #ffffff;
  --main-yellow-light: #FFCC66;
  --header-text-color: #666666;
  --item-text-color: #999999;
}

/* Header */

.header-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin-bottom: 65px;
}

.header-up {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-logo {
  margin-right: 40px;
}

.header-phone {
  margin-right: auto;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: var(--header-text-color);
}

.header-account {
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: var(--main-yellow);
}

.header-account-text {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
}

.header-account-icon {
  display: inline-block;
  width: 21px;
  height: 12px;
  margin-right: 7px;
  background-image: url(../img/account.png);
  background-position: left center;
  background-repeat: no-repeat;
  transform: translateY(-1px);
}


.header-down {
  display: flex;
  align-items: center;
  height: 70px;
  border-radius: 15px;
  padding-right: 45px;
  padding-left: 45px;
  background-color: var(--main-white);
}

.header-nav {
  display: inline-block;
  margin-right: auto;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 45px;
}

.header-nav-link {
  color: var(--header-text-color);
}

.header-down-btn {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 325px;
}

/* Offer */
.offer-container {
  margin-bottom: 70px;
}

.offer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.offer-islands {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 573px;
}

.offer-islands-heading {
  width: 299px;
  font-size: 40px;
  margin: 0;
  margin-bottom: 15px;
  line-height: 1;
  font-weight: 700;
  color: var(--main-white);
}

.offer-islands-price {
  margin-bottom: auto;
  font-size: 20px;
  line-height: 1;
  color: var(--main-white);
}

.offer-islands-link {
  display: flex;
  align-items: center;
  color: #FFCC66;
}

.offer-islands-text {
  display: inline-block;
  margin-right: 7px;
  font-size: 16px;
  line-height: 1;
}

.offer-islands-icon {
  display: inline-block;
  padding-left: 10px;
  width: 15px;
  height: 15px;
  background-image: url(../img/about-link.svg);
  background-position: left center;
  background-repeat: no-repeat;
  color: #FFCC66;
}

.offer-islands-maldives {
  display: flex;
  flex-direction: column;
  width: 573px;
  height: 258px;
  padding: 40px;
  border-radius: 15px;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/Rectangle\ 14.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;

}

.offer-islands-krit {
  display: flex;
  flex-direction: column;
  width: 573px;
  height: 258px;
  padding: 40px;
  border-radius: 15px;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/Rectangle\ 16.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.offer-rooms {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 573px;
  height: 540px;
  padding: 40px;
  border-radius: 15px;
  background-image: url(../img/22.jpg);
  background-repeat: no-repeat;
  background-position: top left;
}

.offer-rooms-pic-heading {
  width: 299px;
  margin-bottom: 15px;
  line-height: 1;
  font-size: 60px;
  color: var(--main-white);
  font-weight: 700;
}

.offer-rooms-pic-price {
  margin-bottom: 47px;
  font-size: 30px;
  line-height: 1;
  color: var(--main-white);
  opacity: 0.8;
}

/* About */
.about-container {
  margin-bottom: 70px;
}

.section-about-text {
  max-width: 890px;
}

/* Services */
.services-container {
  margin-bottom: 45px;
}

.section-services-list {
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
}

.section-services-item {
  width: 572px;
  padding-bottom: 50px;
  margin-bottom: 25px;
  border-radius: 12px;
  background-color: var(--main-white);
}

.section-services-item:not(:nth-child(2n)) {
  margin-right: 26px;
}

.section-services-item-pic {
  margin-bottom: 26px;
}

.section-services-item-heading {
  margin: 0;
  margin-left: 45px;
}

.section-services-link {
  display: flex;
  align-items: center;
  color: var(--main-yellow);
}

.section-services-text {
  display: inline-block;
  margin-right: 7px;
  font-size: 20px;
  line-height: 2;
}

.section-services-icon {
  display: inline-block;
  width: 10px;
  height: 15px;
  background-image: url(../img/about-link.svg);
  background-position: right center;
  background-repeat: no-repeat;
  transform: translateY(-1px);

}

.section-services-description {
  width: 406px;
  margin: 0px;
  margin-left: 45px;
}

/* Priviledge */
.priviledge-container {
  margin-bottom: 45px;
}

.section-priviledge-list {
  display: flex;
  flex: 1 1 25%;
  flex-wrap: wrap;
}

.section-priviledge-item {
  width: 275px;
  padding: 42px 0 42px 45px;
  margin-bottom: 25px;
  border-radius: 12px;
  background-color: var(--main-white);
}

.section-priviledge-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.section-priviledge-icon {
  display: block;
  height: 59px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: top left;
  background-size: auto 100%;
}

.section-priviledge-icon-bathtub {
  background-image: url(../img/bathtub.png);
}

.section-priviledge-icon-hanger {
  background-image: url(../img/hanger.png);
}

.section-priviledge-icon-heating {
  background-image: url(../img/heating.png);
}

.section-priviledge-icon-hotel-key {
  background-image: url(../img/hotel-key.png);
}

.section-priviledge-icon-parking {
  background-image: url(../img/parking.png);
}

.section-priviledge-icon-reception {
  background-image: url(../img/reception.png);
}

.section-priviledge-icon-security-box {
  background-image: url(../img/security-box.png);
}

.section-priviledge-icon-swimming-pool {
  background-image: url(../img/swimming-pool.png);
}

.section-priviledge-description {
  width: 187px;
}

/* Placement */
.placement-container {
  margin-bottom: 45px;
}

.section-placement-list {
  display: flex;
  flex: 1 1 33%;
  flex-wrap: wrap;
}

.section-placement-item {
  width: 373px;
  margin-bottom: 25px;
  padding-bottom: 42px;
  border-radius: 12px;
  background-color: var(--main-white);
}

.section-placement-item:not(:nth-child(3n)) {
  margin-right: 25px;
}

.section-placement-img {
  margin-bottom: 36px;
}

.section-placement-item-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 45px;
}

.section-placement-from {
  color: rgba(227, 227, 227, 255)
}

.section-placement-price {
  font-size: 20px;
  font-weight: bold;
}

.section-placement-item-description {
  margin-left: 45px;
  margin-bottom: 20px;
}

.section-placement-item-heading {
  font-size: 16px;
  font-weight: 400;
}

.section-placement-item-text {
  color: var(--item-text-color);
}

.section-placement-item-button {
  margin-left: 45px;
}

.section-placement-item-button:hover {
  background-color: var(--main-yellow);
  color: var(--main-white);
}

.section-placement-item-all {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 373px;
  margin-bottom: 25px;
  border-radius: 12px;
  background-image: url(../img/41.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-placement-all-link {
  margin-left: 40px;
  margin-bottom: 55px;
  padding-right: 15px;
  font-size: 22px;
  color: var(--main-white);
  font-weight: 500;
  background-image: url(../img/about-link-white.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.section-placement-all-link::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

/* Tour Wanted */
.section-tour-wanted-container {
  width: 1170px;
  padding-top: 38px;
  padding-bottom: 71px;
  margin-bottom: 70px;
  border-radius: 15px;
  background-color: #E9E9E9;
}

.tour-heading {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  padding-left: 25px;
}

.section-tour-wanted-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 28px;
  margin: 0 30px;
  border-radius: 15px;
  background-color: var(--main-white);
}

.section-tour-wanted-form-item {
  margin-right: 20px;
}

.section-tour-wanted-form-item-heading {
  margin: 0;
  margin-bottom: 15px;
}

.tour-btn {
  padding: 13px 30px;
}

.tour-btn:hover {
  background-color: var(--main-yellow);
  color: var(--main-white);
}

.section-tour-wanted-form-item {
  margin-right: 20px;
}

.section-tour-wanted-form-item-droplist {
  width: 169px;
  border: none;
}

.section-tour-wanted-form-item-heading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
}

.section-tour-wanted-form-item-input {
  width: 121px;
  border: none;
}
.section-tour-wanted-form-item-bordbott {
  border-bottom: 1px solid #CCC;
}


/* Contacts */
.contacts-container {
  margin-bottom: 19px;
}

.section-contacts-office {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 44px 46px 46px;
  border-radius: 15px;
  background-color: var(--main-white);
}

.section-contacts-office-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 375px;
}

.section-contacts-office-table {
  margin-bottom: 45px;
}

.section-contacts-office-img {
  width: 653px;
  height: 528px;
  border-radius: 10px;
  background-image: url(../img/contacts-img.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-contacts-splitter {
  height: 1px;
  background-color: #c4c4c4;
}

.section-contacts-office-table-rowname-top {
  width: 146px;
  padding-top: 2px;
  font-size: 20px;
  line-height: 1em;
  font-weight: 700;
}
.section-contacts-office-table-rowname {
  width: 146px;
  padding: 22px 0;
  font-size: 20px;
  line-height: 1em;
  font-weight: 700;
}

.section-contacts-office-table-padding-cut {
  padding-top: 0;
}

.section-contacts-office-table-disc-top {
  width: 229px;
  padding-bottom: 20px ;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0em
}
.section-contacts-office-table-disc {
  width: 229px;
  padding: 20px 0px;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0em
}

.section-contacts-adrs {
  font-style: normal;
  font-weight: 400;
}

.section-contacts-link {
  color: var(--main-yellow);
}

.section-contacts-text {
  color: var(--item-text-color);
}

.section-contacts-office-info-btn {
  padding: 27px 29px;
  font-weight: 700;
}

.section-contacts-office-info-btn:hover {
  background-color: var(--main-yellow);
  color: var(--main-white);
}

/* Footer */
.footer-container {
  display: flex;
  align-items: flex-start;
  padding: 44px 52px 55px 52px;
  border-radius: 15px;
  background-color: #333;
}

.footer-container-sun {
  background-image: url(../img/sunfooter.png);
  background-repeat: no-repeat;
  background-position: right 176px bottom;
}

.footer-container-copyrights {
  width: 320px;
  margin-right: 102px;
  font-size: 16px;
  line-height: 190%;
  color: var(--main-white);
}

.footer-container-link {
  color: var(--main-yellow);
}

.footer-container-contacts {
  width: 358px;
  margin-right: auto;
  font-size: 16px;
  line-height: 150%;
  color: var(--main-white);
}

.footer-container-sociallink-icon {
  width: 25px;
  height: 25px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: top left;
  background-size: auto 100%;
}

.footer-container-tripadvisor {
  background-image: url(../img/tripadvisor.png);
}

.footer-container-twitter {
  background-image: url(../img/twitter.png);
}

.footer-container-facebook {
  background-image: url(../img/facebook.png);
}

.footer-container-vk {
  background-image: url(../img/social.png);;
}

.footer-container-instagram {
  background-image: url(../img/instagram.png);
}
